<body>
    <div class="container">
        <h1>Lista de Dispositivos</h1>
        <p><a href="{{ url_for('formulario_web') }}" class="button">Agregar nuevo dispositivo</a></p>

        <div class="device-container">
            {% for d in dispositivos %}
            <article class="device-card">
                <div class="device-card-header">{{ d.sid }}</div>
                <p><b>Nombre:</b> {{ d.nombre }}</p>
                <p><b>IP:</b> {{ d.ip }}</p>
                <p><b>Protocolos:</b> {{ d.protocolos | join(', ') }}</p>
                <p><b>Observaciones:</b> {{ d.observaciones }}</p>
                
                <div class="device-card-actions">
                    <a href="{{ url_for('editar_dispositivo_web', sid=d.sid) }}" class="button-secondary">Editar</a>
                    <form action="{{ url_for('eliminar_dispositivo_web', sid=d.sid) }}" method="POST">
                        <input type="submit" value="Eliminar" class="button-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este dispositivo?');">
                    </form>
                </div>
            </article>
            {% else %}
            <p>No hay dispositivos registrados.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>